apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    tailscale.com/funnel: "true"
  name: ts-awx
  namespace: awx
spec:
  defaultBackend:
    service:
      name: awx-service
      port:
        number: 80
  ingressClassName: tailscale
  tls:
  - hosts:
    - awx.wolf-coho.ts.net

